%section#project2
  .container
    .row
      - contact_list = current_site.the_post_type('contact')
      - contact_list.the_posts.visible_frontend.decorate.each do |contact|
        .col-xs-4
          .ih-item.circle.effect11.top_to_bottom
            %a{:href => "#"}
              .img
                = image_tag contact.the_field('image')
              .info
                %h3
                  Toeng Sophary
                %p
                  I'm a web developer.
