@import 'bourbon';
@import '../helpers/_variable';

section#footer {
  @include margin(15px null null null);
  .back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
    z-index: 9999;
    background-color: #00987f;
    border-color: #01866f;
    color: #ffffff;
  }
  .government-logo {
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    @include padding(25px null);
    img {
      @include margin(0 auto);
      max-width: 100px;
    }
  }
  .more-information {
    @include padding(25px null);
    .copy-right {
      color: #c3c3c3;
      font-size: 11px;
      @include padding(15px null null null);
    }
  }
}
