@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'bourbon';
@import 'helpers/_variable';

@import 'errors/_page_errors';

@import 'partials/_footer';
@import 'partials/_navbar';
@import 'partials/_parallex';

@import 'templates/_project1';
@import 'templates/_project2';

@import 'plugins/_classyleaves.min';
@import 'plugins/_ihover.min';

html, body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;

  #content-wrapper {
    min-height: 70%;
    position: relative;
    @include margin(20px null null null);
  }
}